@charset "UTF-8";
* {
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/Lato-Light.woff");
  src: url("../assets/fonts/Lato-Light.woff2") format("embedded-opentype"), url("../assets/fonts/Lato-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/Lato-Regular.woff");
  src: url("../assets/fonts/Lato-Regular.woff2") format("embedded-opentype"), url("../assets/fonts/Lato-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Lato";
  font-weight: 900;
  font-style: normal;
  src: url("../assets/fonts/Lato-Black.woff");
  src: url("../assets/fonts/Lato-Black.woff2") format("embedded-opentype"), url("../assets/fonts/Lato-Black.ttf") format("truetype"); }

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/SourceSansPro-Light.woff");
  src: url("../assets/fonts/SourceSansPro-Light.woff2") format("embedded-opentype"), url("../assets/fonts/SourceSansPro-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/SourceSansPro-Regular.woff");
  src: url("../assets/fonts/SourceSansPro-Regular.woff2") format("embedded-opentype"), url("../assets/fonts/SourceSansPro-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-style: normal;
  src: url("../assets/fonts/SourceSansPro-Black.woff");
  src: url("../assets/fonts/SourceSansPro-Black.woff2") format("embedded-opentype"), url("../assets/fonts/SourceSansPro-Black.ttf") format("truetype"); }

.base-typography, p, span {
  line-height: 1.25;
  font-family: "Source Sans Pro"; }

.header-typography, h1, h2, h3, h4 {
  line-height: 1.25;
  font-family: "Lato"; }

h1 {
  font-weight: 900;
  font-size: 36px; }

h2 {
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase; }

h3 {
  font-weight: 400;
  font-size: 18px; }

h4 {
  font-weight: 400;
  font-size: 18px; }

p {
  font-weight: 400; }

p + p {
  margin-top: 20px; }

p + h2,
p + h3 {
  margin-top: 30px; }

h1 + p,
h1 + h2,
h1 + h3 {
  margin-top: 20px; }

h2 + p,
h2 + h1,
h2 + h3 {
  margin-top: 20px; }

h3 + p,
h3 + h1,
h3 + h2 {
  margin-top: 20px; }

strong {
  font-weight: 900; }

em {
  font-style: italic; }

.bounding-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; }
  @media (min-width: 0px) and (max-width: 650px) {
    .bounding-container {
      width: 100%; } }

.container {
  border-radius: 5px; }
  .container--float {
    padding: 40px;
    width: 90%;
    max-width: 620px; }
    @media (min-width: 0px) and (max-width: 650px) {
      .container--float {
        margin: 0 auto; } }
    @media (min-width: 650px) and (max-width: 1220px) {
      .container--float {
        width: 50%; } }
  .container--shadow {
    box-shadow: 0 15px 20px 0 rgba(46, 46, 46, 0.15);
    background: white;
    border-radius: 5px;
    padding: 40px; }

.video {
  position: relative;
  box-shadow: 0 15px 20px 0 rgba(46, 46, 46, 0.15);
  background: #380D75;
  width: 100%;
  margin-bottom: 40px;
  border-radius: 5px;
  cursor: pointer; }
  .video:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%; }
  .video > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .video .content {
    display: flex;
    align-items: center;
    justify-content: center; }

.hero {
  color: white;
  padding: 0;
  padding-top: 100px;
  margin-bottom: 80px; }
  @media (min-width: 0px) and (max-width: 650px) {
    .hero {
      margin-top: 40px;
      padding-top: 0; } }
  @media (min-width: 650px) and (max-width: 1220px) {
    .hero {
      margin-top: 80px;
      padding-top: 0; } }
  .hero:before {
    content: '';
    width: 90vw;
    height: 90vw;
    max-width: 1500px;
    max-height: 1500px;
    background: #6E49CB;
    border-radius: 100px;
    transform: rotate(-335deg);
    position: absolute;
    top: -200px;
    left: -200px;
    z-index: -1; }
    @media (min-width: 0px) and (max-width: 650px) {
      .hero:before {
        top: -50px;
        left: -150px;
        height: 100%;
        width: 100%; } }
    @media (min-width: 0px) and (max-width: 812px) and (orientation: landscape) {
      .hero:before {
        height: 150% !important;
        top: 170px; } }
    @media (min-width: 650px) and (max-width: 1220px) {
      .hero:before {
        height: 100%;
        width: 100%; } }
  .hero img {
    width: 75px;
    margin-bottom: 80px; }
  .hero h1 {
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 72px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 3px; }
    @media (min-width: 0px) and (max-width: 650px) {
      .hero h1 {
        font-size: 52px;
        text-shadow: 0 3px 10px rgba(46, 46, 46, 0.65); } }
    @media (min-width: 650px) and (max-width: 1220px) {
      .hero h1 {
        font-size: 52px; } }
  .hero h2 {
    letter-spacing: 3px; }
    @media (min-width: 0px) and (max-width: 650px) {
      .hero h2 {
        font-size: 12px;
        text-shadow: 0 3px 10px rgba(46, 46, 46, 0.65); } }
  .hero .pill {
    display: inline-block;
    text-transform: uppercase;
    padding: 20px;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    font-size: 12px;
    letter-spacing: 1.5px;
    font-weight: 900; }
    @media (min-width: 0px) and (max-width: 650px) {
      .hero .pill {
        display: inline-block;
        text-align: center;
        background: rgba(255, 255, 255, 0.5);
        color: #380D75; } }
    .hero .pill + .button {
      margin-left: 20px;
      display: none; }
      @media (min-width: 0px) and (max-width: 650px) {
        .hero .pill + .button {
          display: inline-block;
          margin-left: 0;
          margin-top: 10px;
          text-align: center; } }

.presenters {
  display: flex;
  justify-content: space-around;
  margin: 40px 0; }
  .presenters .presenter {
    text-align: center; }
    .presenters .presenter img {
      box-shadow: 0 15px 20px 0 rgba(46, 46, 46, 0.15);
      border-radius: 100%;
      width: 75px;
      height: 75px; }
    .presenters .presenter h3 {
      margin-top: 10px;
      font-size: 16px;
      font-weight: 900; }
      .presenters .presenter h3 + p {
        margin-top: 5px; }

.schedule {
  border-left: 1px solid #6E49CB;
  padding: 20px 40px;
  margin-top: 40px; }
  .schedule .event {
    position: relative; }
    .schedule .event + .event {
      margin-top: 40px; }
    .schedule .event:before {
      content: '•';
      color: #6E49CB;
      font-size: 50px;
      position: absolute;
      left: -49px;
      top: -15px; }
    .schedule .event h4 {
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 300; }
    .schedule .event h3 {
      margin-top: 5px;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 12px; }

.follow {
  box-shadow: 0 15px 20px 0 rgba(46, 46, 46, 0.15);
  background: white;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: tranlslateY(-50%);
  transform: translateY(-50%);
  position: fixed;
  right: 5%;
  top: 50%;
  width: 430px;
  padding: 40px;
  border-radius: 5px; }
  @media (min-width: 0px) and (max-width: 650px) {
    .follow {
      position: static;
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: tranlslateY(0);
      transform: translateY(0);
      width: 90%;
      margin: 0 auto;
      margin-top: 40px; } }
  @media (min-width: 0px) and (max-width: 812px) and (orientation: landscape) {
    .follow {
      overflow: scroll;
      height: 100%; } }
  @media (min-width: 650px) and (max-width: 1220px) {
    .follow {
      width: 40%; } }
  @media (min-width: 1220px) and (max-width: 1334px) {
    .follow {
      right: calc(5% + 40px); } }
  .follow--hero {
    height: 225px;
    width: calc(100% + 80px);
    position: relative;
    left: -40px;
    top: -40px;
    background-image: url("../assets/images/follow-bg.png");
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; }
    @media (min-width: 650px) and (max-width: 1220px) {
      .follow--hero {
        height: 175px; } }
    .follow--hero h1 {
      font-style: italic;
      font-weight: 300;
      font-size: 48px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: white; }
      @media (min-width: 650px) and (max-width: 1220px) {
        .follow--hero h1 {
          font-size: 38px; } }

form {
  margin-top: 40px; }
  form button {
    width: 100%;
    margin-top: 40px; }

label {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-style: italic;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  display: block;
  color: #6E49CB; }
  label + label {
    margin-top: 40px; }

input {
  border-radius: 5px;
  border: 1px solid #6E49CB;
  width: 100%;
  padding: 15px 20px;
  font-size: 16px;
  font-family: "Source Sans Pro";
  margin-top: 5px; }
  input + label {
    margin-top: 20px; }
  input.error {
    border: 1px solid #DB3B21; }

.error {
  color: #DB3B21;
  margin-top: 10px; }

button, .button {
  box-shadow: 0 15px 20px 0 rgba(46, 46, 46, 0.15);
  font-family: "Lato";
  font-weight: 900;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: white;
  background: #DB3B21;
  border: none;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer; }

.footer {
  width: 100%;
  height: 75px;
  margin-top: 160px;
  background: #2E2E2E;
  position: relative;
  z-index: -1; }
  .footer img {
    width: 75px;
    margin-left: -37.5px;
    position: absolute;
    top: -41px;
    left: 50%; }
