button, .button {
	
	@include shadow;
	font-family: "Lato";
	font-weight: 900;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: white;
	background: $red-orange;
	border: none;
	border-radius: 5px;
	padding: 20px;
	cursor: pointer;
}