.bounding-container {

    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    @include breakpoint(mobile) {

        width: 100%;
    }
}

.container {

    border-radius: 5px;

    &--float {

        padding: 40px;
        width: 90%;
        max-width: 620px;

        @include breakpoint(mobile) {

            margin: 0 auto;
        }

        @include breakpoint(tablet) {

            width: 50%;
        }
    }

    &--shadow {

        @include shadow;
        background: white;
        border-radius: 5px;
        padding: 40px;
    }
}

.video {

    @include aspect-ratio(16, 9);
    @include shadow;
    background: $purple;
    width: 100%;
    margin-bottom: 40px;
    border-radius: 5px;
    cursor: pointer;

    .content {

        display: flex;
        align-items: center;
        justify-content: center;
    }
}