.follow {

    @include shadow;

    background: white;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: tranlslateY(-50%);
    transform: translateY(-50%);
    position: fixed;
    right: 5%;
    top: 50%;
    width: 430px;
    padding: 40px;
    border-radius: 5px;

    @include breakpoint(mobile) {

        position: static;
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: tranlslateY(0);
        transform: translateY(0);
        width: 90%;
        margin: 0 auto;
        margin-top: 40px;
    }

    @include breakpoint(mobileLandscape) {

        overflow: scroll;
        height: 100%;
    }

    @include breakpoint(tablet) {

        width: 40%;
    }

    @include breakpoint(tabletXL) {

        right: calc(5% + 40px);
    }

    &--hero {

        height: 225px;
        width: calc(100% + 80px);
        position: relative;
        left: -40px;
        top: -40px;
        background-image: url('../assets/images/follow-bg.png');
        background-size: cover;
        background-position: center center;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;

        @include breakpoint(tablet) {

            height: 175px;
        }

        h1 {

            font-style: italic;
            font-weight: 300;
            font-size: 48px;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: white;

            @include breakpoint(tablet) {

                font-size: 38px;
            }
        }
    }
}