.footer {

    width: 100%;
    height: 75px;
    margin-top: 160px;
    background: $dark-gray;
    position: relative;
    z-index: -1;

    img {

    	width: 75px;
        margin-left: -37.5px;
        position: absolute;
        top: -41px;
        left: 50%;
    }
}