form {

    margin-top: 40px;

    button {

        width: 100%;
        margin-top: 40px;
    }
}

label {

    font-family: "Source Sans Pro";
    font-weight: 900;
    font-style: italic;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    display: block;
    color: $light-purple;

    +label {

        margin-top: 40px;
    }
}

input {

    border-radius: 5px;
    border: 1px solid $light-purple;
    width: 100%;
    padding: 15px 20px;
    font-size: 16px;
    font-family: "Source Sans Pro";
    margin-top: 5px;

    +label {

        margin-top: 20px;
    }

    &.error {

        border: 1px solid $red-orange;
    }
}

.error {

    color: $red-orange;
    margin-top: 10px;
}