.hero {

    color: white;
    padding: 0;
    padding-top: 100px;
    margin-bottom: 80px;

    @include breakpoint(mobile) {

        margin-top: 40px;
        padding-top: 0;
    }

    @include breakpoint(tablet) {

        margin-top: 80px;
        padding-top: 0;
    }

    &:before {

        content: '';
        width: 90vw;
        height: 90vw;
        max-width: 1500px;
        max-height: 1500px;
        background: $light-purple;
        border-radius: 100px;
        transform: rotate(-335deg);
        position: absolute;
        top: -200px;
        left: -200px;
        z-index: -1;

        @include breakpoint(mobile) {

            top: -50px;
            left: -150px;
            height: 100%;
            width: 100%;
        }

        @include breakpoint(mobileLandscape) {

            height: 150% !important;
            top: 170px;
        }

        @include breakpoint(tablet) {

            height: 100%;
            width: 100%;
        }
    }

    img {

        width: 75px;
        margin-bottom: 80px;
    }

    h1 {

        margin: 20px 0;
        text-transform: uppercase;
        font-size: 72px;
        font-weight: 300;
        font-style: italic;
        letter-spacing: 3px;

        @include breakpoint(mobile) {

            font-size: 52px;
            text-shadow: 0 3px 10px rgba(46, 46, 46, 0.65)
        }

        @include breakpoint(tablet) {

            font-size: 52px;
        }
    }

    h2 {

        letter-spacing: 3px;

        @include breakpoint(mobile) {

            font-size: 12px;
            text-shadow: 0 3px 10px rgba(46, 46, 46, 0.65)
        }
    }

    .pill {

        display: inline-block;
        text-transform: uppercase;
        padding: 20px;
        color: white;
        background: rgba(255, 255, 255, 0.20);
        border-radius: 5px;
        font-size: 12px;
        letter-spacing: 1.5px;
        font-weight: 900;

        @include breakpoint(mobile) {

            display: inline-block;
            text-align: center;
            background: rgba(255, 255, 255, 0.50);
            color: $purple;
        }

        +.button {

            margin-left: 20px;
            display: none;

            @include breakpoint(mobile) {

                display: inline-block;
                margin-left: 0;
                margin-top: 10px;
                text-align: center;
            }
        }
    }
}