.presenters {

    display: flex;
    justify-content: space-around;
    margin: 40px 0;

    .presenter {

        text-align: center;

        img {

            @include shadow;
            border-radius: 100%;
            width: 75px;
            height: 75px;
        }

        h3 {

            margin-top: 10px;
            font-size: 16px;
            font-weight: 900;

            +p {

                margin-top: 5px;
            }
        }
    }
}