.schedule {

    border-left: 1px solid $light-purple;
    padding: 20px 40px;
    margin-top: 40px;

    .event {

        position: relative;

        +.event {

            margin-top: 40px;
        }

        &:before {

            content: '•';
            color: $light-purple;
            font-size: 50px;
            position: absolute;
            left: -49px;
            top: -15px;
        }

        h4 {

            text-transform: uppercase;
            font-size: 10px;
            font-weight: 300;
        }

        h3 {

            margin-top: 5px;
            font-weight: 900;
            text-transform: uppercase;
            font-size: 12px;
        }
    }
}