@mixin breakpoint($query) {

    @if $query==mobile {
        @media (min-width: 0px) and (max-width: 650px) {
            @content;
        }
    }

    @else if $query==mobileLandscape {
        @media (min-width: 0px) and (max-width: 812px) and (orientation: landscape) {
            @content;
        }
    }

    @else if $query==tablet {
        @media (min-width: 650px) and (max-width: 1220px) {
            @content;
        }
    }

    @else if $query==tabletXL {
        @media (min-width: 1220px) and (max-width: 1334px) {
            @content;
        }
    }

    @else if $query==desktop {
        @media (min-width: 1334px) {
            @content;
        }
    }
}

@mixin shadow {
    
    box-shadow: 0 15px 20px 0 rgba(46, 46, 46, 0.15);
}

@mixin clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin aspect-ratio($width, $height) {

    position: relative;

    &:before {

        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    >.content {
        
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}