@font-face {

    font-family: "Lato";
    font-weight: 300;
    font-style: normal;
    src: url("../assets/fonts/Lato-Light.woff");
    src: url("../assets/fonts/Lato-Light.woff2") format("embedded-opentype"), url("../assets/fonts/Lato-Light.ttf") format("truetype");
}

@font-face {

    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    src: url("../assets/fonts/Lato-Regular.woff");
    src: url("../assets/fonts/Lato-Regular.woff2") format("embedded-opentype"), url("../assets/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {

    font-family: "Lato";
    font-weight: 900;
    font-style: normal;
    src: url("../assets/fonts/Lato-Black.woff");
    src: url("../assets/fonts/Lato-Black.woff2") format("embedded-opentype"), url("../assets/fonts/Lato-Black.ttf") format("truetype");
}

@font-face {

    font-family: "Source Sans Pro";
    font-weight: 300;
    font-style: normal;
    src: url("../assets/fonts/SourceSansPro-Light.woff");
    src: url("../assets/fonts/SourceSansPro-Light.woff2") format("embedded-opentype"), url("../assets/fonts/SourceSansPro-Light.ttf") format("truetype");
}

@font-face {

    font-family: "Source Sans Pro";
    font-weight: 400;
    font-style: normal;
    src: url("../assets/fonts/SourceSansPro-Regular.woff");
    src: url("../assets/fonts/SourceSansPro-Regular.woff2") format("embedded-opentype"), url("../assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {

    font-family: "Source Sans Pro";
    font-weight: 900;
    font-style: normal;
    src: url("../assets/fonts/SourceSansPro-Black.woff");
    src: url("../assets/fonts/SourceSansPro-Black.woff2") format("embedded-opentype"), url("../assets/fonts/SourceSansPro-Black.ttf") format("truetype");
}

.base-typography {

    line-height: 1.25;
    font-family: "Source Sans Pro"
}

.header-typography {

    line-height: 1.25;
    font-family: "Lato";
}

h1 {

    @extend .header-typography;
    font-weight: 900;
    font-size: 36px;
}

h2 {

    @extend .header-typography;
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
}

h3 {

    @extend .header-typography;
    font-weight: 400;
    font-size: 18px;
}

h4 {

    @extend .header-typography;
    font-weight: 400;
    font-size: 18px;
}

p {

    @extend .base-typography;
    font-weight: 400;
}

span {

    @extend .base-typography;
}

p {

    +p {

        margin-top: 20px;
    }

    +h2,
    +h3 {

        margin-top: 30px;
    }
}

h1 {
    +p,
    +h2,
    +h3 {

        margin-top: 20px;
    }
}

h2 {
    +p,
    +h1,
    +h3 {

        margin-top: 20px;
    }
}

h3 {
    +p,
    +h1,
    +h2 {

        margin-top: 20px;
    }
}

strong {

    font-weight: 900;
}

em {

    font-style: italic;
}